body {
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.Link_Button {
  text-decoration: none;
background-color: gray;
color: black;
display: block;
font-size: 20px;
width: 170px;
text-align:center;
margin: 20px;
border-radius: 10px;
border: solid;
}
/*NEVER, EVER DELETE THIS, OR THIS MOTHERFUCKING WEBSITE IS BROKEN WITH UGLINESS!*/