#Back {
    display: inline-block;
    font-weight: bold;
    background-color: gray;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: large;
    margin: 20px;
    border-radius: 10px;
    border: solid;
}
#Subtitle {
    font-style: italic;
    font-size: medium;
    
}
.Category {
background-color: gray;
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    border: solid;
}
.Titles {
  display: inline-block;
    font-weight: bold;
    background-color: gray;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: xx-large; 
    margin: 20px;
    border-radius: 10px;
    border: solid; 
}