#Title {
    background-color: crimson;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color:darkblue;
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.Text_Important {
  font-size: 20px;
  color: black;
}
#Version {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.Images{
  display: inline-block;
  border:solid;
  color:black;
}
