
.Title {
   display: inline-block;
    font-weight: bold;
    background-color: gray;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: xx-large; 
    margin: 20px;
    border-radius: 10px;
    border: solid;
}
